<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>À propos</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
    <header>
        <h3><span class="prenom"> Joël Elom </span> <span class="nom"> ATTISSO </span></h3>
        <h1>À propos de moi</h1>
        <nav>
            <ul>
                <li><a href="accueil.html">Accueil</a></li>
                <li><a href="about.html">À propos</a></li>
                <li><a href="skills.html">Compétences</a></li>
                <li><a href="project.html">Projets</a></li>
                <li><a href="interests.html">Centres d’intérêts</a></li>
                <li><a href="sports.html">Sports</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <section class="about">
            <div class="about-content">
                <img src="assets/images/profile.jpeg" alt="Photo de ATTISSO Joël Elom" class="profile-img">
                <div class="text">
                    <h2>Je suis ATTISSO Joël Elom, Fondateur de GOLDEN EDGE DIGITAL.</h2>
                    <p>
                        Passionné par la technologie et l'innovation, je suis un développeur full-stack, designer UI/UX et spécialiste en domotique avec une solide expérience dans la conception de sites web, applications mobiles et solutions digitales sur mesure. 
                    </p>
                    <p>
                        Mon approche repose sur trois piliers essentiels : créativité, performance et satisfaction client. Toujours en quête d’amélioration, je me forme continuellement aux dernières tendances technologiques. Mon objectif ? Transformer vos idées en réalité digitale.
                    </p>
                    <a href="contact.html" class="button">Travaillons ensemble</a>
                </div>
            </div>
        </section>
    </body>
    </html>
</body>
</html>
