<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Centres d’intérêts</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
    <header>
        <h3><span class="prenom"> Joël Elom </span> <span class="nom"> ATTISSO </span></h3>
        <h1>Mes Centres d’Intérêts</h1>
        <nav>
            <ul>
                <li><a href="accueil.html">Accueil</a></li>
                <li><a href="about.html">À propos</a></li>
                <li><a href="skills.html">Compétences</a></li>
                <li><a href="project.html">Projets</a></li>
                <li><a href="interests.html">Centres d’intérêts</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section class="interests">
        <div class="interest">
            <img src="assets/images/technology.jpeg" alt="Nouvelles Technologies">
            <h3>Exploration des nouvelles technologies</h3>
            <p>Je suis passionné par les innovations technologiques et j’aime tester les dernières tendances en développement.</p>
        </div>
        <div class="interest">
            <img src="assets/images/domotique.jpeg" alt="Domotique">
            <h3>Domotique</h3>
            <p>J’explore les systèmes de maison intelligente et les solutions connectées pour améliorer le confort et la sécurité.</p>
        </div>
        <div class="interest">
            <img src="assets/images/cybersecurity.jpeg" alt="Cybersécurité">
            <h3>Cybersécurité</h3>
            <p>Je m’intéresse aux protocoles de sécurité et aux méthodes de protection des données.</p>
        </div>
        <div class="interest">
            <img src="assets/images/ia.jpeg" alt="Intelligence Artificielle">
            <h3>Intelligence Artificielle</h3>
            <p>Je me forme aux modèles d’IA et aux algorithmes d’apprentissage automatique pour comprendre leur impact.</p>
        </div>
    </section>
</body>
</html>