<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Compétences</title>
    <link rel="stylesheet" href="assets/css/skills.css">
</head>
<body>
    <header>
        <h3><span class="prenom"> Joël Elom </span> <span class="nom"> ATTISSO </span></h3>
        <h1>Mes Compétences</h1>
        <nav>
            <ul>
                <li><a href="accueil.html">Accueil</a></li>
                <li><a href="about.html">À propos</a></li>
                <li><a href="skills.html">Compétences</a></li>
                <li><a href="project.html">Projets</a></li>
                <li><a href="interests.html">Centres d’intérêts</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section class="skills">
        <div class="skill">
            <img src="assets/images/html.jpeg" alt="HTML Logo">
            <h4>HTML</h4>
            <p>Je maîtrise parfaitement HTML, ce qui me permet de structurer efficacement les pages web et d'assurer une base solide pour tout projet frontend.</p>
        </div>
        <div class="skill">
            <img src="assets/images/css.jpeg" alt="CSS Logo">
            <h4>CSS</h4>
            <p>Grâce à ma maîtrise avancée de CSS, je peux créer des interfaces modernes, responsives et esthétiques pour offrir une expérience utilisateur fluide.</p>
        </div>
        <div class="skill">
            <img src="assets/images/js.jpeg" alt="JavaScript Logo">
            <h4>JavaScript</h4>
            <p>J'utilise JavaScript pour rendre les sites web interactifs et dynamiques, avec des animations et des fonctionnalités avancées.</p>
        </div>
        <div class="skill">
            <img src="assets/images/php.jpeg" alt="PHP Logo">
            <h4>PHP</h4>
            <p>Je développe des applications backend avec PHP, en intégrant des bases de données et en assurant une gestion sécurisée des informations.</p>
        </div>
        <div class="skill">
            <img src="assets/images/mysql.jpeg" alt="MySQL Logo">
            <h4>MySQL</h4>
            <p>Ma connaissance approfondie de MySQL me permet d'optimiser la gestion des bases de données et d'assurer un stockage structuré et performant.</p>
        </div>
    </section>
</body>
</html>